<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/style.css">
    <link rel="shortcut icon" href="images/favicon1.png">
    <title>Моніторинг забруднюючих викидів міст України</title>
</head>
<style>
    .hide {
        display: none;
    }
</style>


<body>
<header>
    <img id="logo_header" src="images/logo.png" alt="">
    <nav>
        <ul>
            <li><a href="#left_paragraph">Вступ</a></li>
            <li><a href="#statistics">Статистика</a></li>
            <li><a href="#image_title">Посиланная</a></li>
            <li><a href="#contacts">Контакти</a></li>
        </ul>
    </nav>
</header>
<div class="clearfix"></div>
<main>
    <p id="left_paragraph">
        У світі останніми роками почали частіше порушувати питання екології і впливу діяльності людини на навколишнє середовище. Це поступово стало трендом, котрий підтримують всесвітньо відомі компанії з абсолютно різних сфер, починаючи від IT-гігантів на прикладі Apple і закінчуючи мережами швидкого харчування на прикладі McDonalds. Не залишаються осторонь цієї теми і окремі популярні персони, такі як Леонардо ді Капріо, котрий регулярно привертає увагу громадськості на екологічні проблеми та навіть був визнаний представником ООН з питань зміни клімату.
    </p>

    <p id="right_paragraph">
        Нас теж зацікавила тема екології та стану навколишнього середовища, тож нашою командою було вирішено провести невелике дослідження. Ми обрали декілька міст Київської області, знайшли дані щодо кількості та вмісту забруднюючих викидів, а також порівняли результати між собою та, головне, порівняли їх з нормою, котра встановлена Міністерством захисту довкілля та природних ресурсів України. Результати наведені у таблиці нижче.
    </p>

    <b id="statistics">Оберіть вид забруднення для якого необхідно розрахувати податок:</b>
<form action="">
    <select id="select">
        <option value="1" selected>за викиди в атмосферне повітря</option>
        <option value="2">за скиди забруднюючих речовин у водні об'єкти</option>
        <option value="3">за розміщення відходів</option>
        <option value="4">за утворення радіоактивних відходів</option>
        <option value="5">за тимчасове зберігання радіоактивних відходів понад строк</option>
    </select>
</form>

<table class="tab">
    <tr>
        <th colspan="8">Обчислення розмірів екологічного податку за викиди забруднюючих речовин в атмосферне повітря</th>
    </tr>
    <tr class="first">

        <td>Назва об'єкту спостереження</td>
        <td>Назва забруднюючої речовини</td>
        <td>Об'єм викидів забруднюючої речовини, тонн</td>
        <td>Ставки податку за викиди в атмосферне повітря</td>
        <td>Сума податку, грн</td>
    </tr>

    <tr class="row">
        {{#each AirPollution}}
            {{AirPollutionTable this.ObjectNumber this.PollutantNumber this.Consume}}
        {{/each}}
    </tr>

</table>


<table class="tab hide">
    <tr>
        <th colspan="8">Обчислення розмірів екологічного податку за викиди забруднюючих речовин у водні об'єкти (р. Дніпро)</th>
    </tr>
    <tr class="first">

        <td>Назва об'єкту спостереження</td>
        <td>Назва забруднюючої речовини</td>
        <td>Об'єм викидів забруднюючої речовини, тонн</td>
        <td>Ставки податку за викиди в атмосферне повітря</td>
        <td>Сума податку, грн</td>
    </tr>

<tr class="row">
    {{#each WaterPollution}}
        {{WaterPollutionTable this.ObjectNumber this.PollutantNumber this.Consume}}
    {{/each}}
</tr>

</table>




<table class="tab hide">
    <tr>
        <th colspan="8">Обчислення розмірів екологічного податку за розміщення відходів</th>
    </tr>
    <tr class="first">

        <td>Назва об'єкту спостереження</td>
        <td>Назва забруднюючої речовини</td>
        <td>Об'єм викидів забруднюючої речовини, тонн</td>
        <td>Ставки податку за розміщення відходів</td>
        <td>Сума податку, грн</td>
    </tr>

    <tr class="row">

        {{#each SolidPollution}}
            {{SolidPollutionTable this.ObjectNumber this.PollutantNumber this.Consume}}
        {{/each}}
    </tr>
</table>


<table class="tab hide">
    <tr>
        <th colspan="8">Обчислення розмірів екологічного податку за утворення радіоактивних відходів</th>
    </tr>
    <tr class="first">

        <td>Назва об'єкту спостереження</td>
        <td>Назва забруднюючої речовини</td>
        <td>кВт-год виробленої електричної енергії</td>
        <td>Категорія відходів</td>
        <td>Ставки податку за утворення радіоактивних відходів</td>
        <td>Сума податку, грн</td>
    </tr>

    <tr class="row">

        {{#each RadioactivePollution}}
            {{RadioactivePollutionTable this.ObjectNumber this.PollutantNumber  this.EnergyVolume}}
        {{/each}}
    </tr>
</table>


<table class="tab hide">
    <tr>
        <th colspan="8">Обчислення розмірів екологічного податку за тимчасове зберігання радіоактивних відходів понад строк</th>
    </tr>
    <tr class="first">

        <td>Назва об'єкту спостереження</td>
        <td>Назва забруднюючої речовини</td>
        <td>Об'єм зберігання радіоактивних відходів в m³</td>
        <td>Кількість кварталів, протягом яких радіоактивні відходи зберігаються понад установлений строк</td>
        <td>Ставки податку за зберігання радіоактивних відходів за m³</td>
        <td>Сума податку, грн</td>
    </tr>

    <tr class="row">

        {{#each RadioactivePollution}}
            {{RadioactivePollutionTable1 this.ObjectNumber this.PollutantNumber this.WasteVolume this.CalendarQuarter }}
        {{/each}}
    </tr>
</table>

    <section>
        <p id="image_title">Пропонуємо додатково ознайомитись з детальним аналізом екологічної ситуації на підприємствах, котрі мають
            найбільші екологічні податки:</p>
        <div id="flex_wrapper">
        <div>
            <a href="http://www.radiationproblems.org.ua/24_2019/NRCRM_2019_Paper_8.pdf" target="_blank"><img src="images/rovno.JPG" alt=""></a>
            <p>Рівненська АЕС</p>
        </div>

        <div>
            <a href="http://dspace.tnpu.edu.ua/bitstream/123456789/21162/1/29_Kiryk.pdf" target="_blank"><img src="images/khmel.jpg" alt=""></a>
            <p>Хмельницька АЕС</p>
        </div>

        <div>
            <a href="http://www.radiationproblems.org.ua/18_2013/prmr_2013_18_6.pdf" target="_blank"><img src="images/zapor.JPG" alt=""></a>
            <p>Запорізська АЕС</p>
        </div>
        </div>
    </section>
</main>



<footer>
    <a href="https://mepr.gov.ua/" target="_blank" id="contacts"><img src="images/logo1.png" width="80px" alt=""></a><br>
    <p>
        mobile:<a href = "tel:(044) 206-31-15"> (044) 206-31-15</a>&nbsp
        <span style="border-left:3px solid #23359C;"></span>
        &nbsp email:<a href = "mailto:info@mepr.gov.ua"> info@mepr.gov.ua</a><br>
    </p>

    <p id="copyright">
        Copyright &copy; 2021
    </p>


</footer>
</body>

<script>
    let select = document.querySelector("#select");
    select.addEventListener("change",(e) => {
        const value = e.target.value;
        const elements = document.querySelectorAll('.tab');
        const elementsArray = Array.from(elements);

        for(let i = 0; i < elementsArray.length; i++) {
            elementsArray[i].classList.add('hide');
            elementsArray[value-1].classList.remove('hide');
        }
    } )
</script>
</html>